/* ProductoCatalogo.css */

body {
  background: rgb(218, 216, 216);
}

.producto-catalogo {
  text-align: center;
  margin: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.producto-item {
  border: 1px solid #ddd;
  padding: 10px;
  background: rgb(255, 255, 255);
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 50px 20px 20px 20px;
  padding: 20px;
  text-align: center;
  float: left;
}

.producto-item img {
  max-width: 50px;
  height: 50px;
}

.button {
  position: relative;
  bottom: 0%;
}

/* Estilos adicionales para el carrito */
.carrito {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -250px; /* Inicialmente fuera de la pantalla */
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.carrito.abierto {
  right: 0;
}

/* Ajuste del espacio cuando el carrito está abierto */
.grid-container.con-carrito {
  margin-right: 250px;
}


.carrito-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carrito li {
  border: 5px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-left: -30px;
  margin-bottom: 10px; /* Espacio entre elementos de la lista */
}

.carrito img {
  max-width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}

.carrito .detalle-item {
  overflow: hidden;
}

.carrito p {
  margin: 0;
}

.carrito button {
  background-color: #e44d26;
  color: #fff;
  border: none;
  padding: 5px 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carrito button:hover {
  background-color: #333;
}